# random os junk
~$*
.DS_Store

# python/cython intermediate files
*.pyc
*.ptx

# gdb command history
.gdb_history

# jetbrains junk
.idea
*.iml
/cmake-build*

# random vim junk
dotfile.d/.vim/.netrwhist
*.swp
